@font-face {
  font-family: "Ralewai-Bold";
  src: url("../../../assets/font/Raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Ralewai-SemiBold";
  src: url("../../../assets/font/Raleway/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Ralewai-Medium";
  src: url("../../../assets/font/Raleway/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Ralewai-Regular";
  src: url("../../../assets/font/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Ralewai-Bold";
  src: url("../../../assets/font/Raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Ralewai-SemiBold";
  src: url("../../../assets/font/Raleway/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Ralewai-Medium";
  src: url("../../../assets/font/Raleway/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Ralewai-Regular";
  src: url("../../../assets/font/Raleway/Raleway-Regular.ttf");
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 87.5%;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 280px;
  max-width: 800px;
  border-radius: 20px;
  margin-bottom: 20px;
}

h1 {
  text-align: left;
  font-size: 3.6rem;
  font-family: "Ralewai-SemiBold", sans-serif;
}

.searchContainer {
  margin: 20px auto;
  width: 100%;
  height: auto;
}
.searchContainer span {
  position: absolute;
  width: 23px;
  height: 23px;
  margin-top: 7px;
  margin-left: 9px;
  background-image: url("../../../assets/icon/search.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.searchContainer input {
  margin: 0 auto;
  height: 40px;
  padding-left: 35px;
  width: 100%;
  min-width: 280px;
  max-width: 500px;
  border: 2px solid #404C5E;
  border-radius: 20px;
  font-size: 1.4rem;
  font-family: "Ralewai-Medium", sans-serif;
  outline: none;
}

.productDetailsContainer {
  min-height: 100px;
  height: auto;
  width: 100%;
  background-color: #C4C4C4;
  border-radius: 5px;
  padding-bottom: 5px;
}
.productDetailsContainer .columnTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin: 10px 0;
  font-size: 1.5rem;
  font-family: "Ralewai-SemiBold", sans-serif;
}
.productDetailsContainer div:last-child {
  margin-bottom: 5px;
}
.productDetailsContainer .withOutProductsTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.productDetailsContainer .withOutProductsTitle h2 {
  text-align: center;
}
.productDetailsContainer .withOutProductsTitle span {
  width: 100px;
  height: 110px;
  margin-bottom: 10px;
  background-image: url("../../../assets/icon/broke.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  width: 100%;
  max-width: 500px;
  margin-top: 30px;
  font-size: 1.5rem;
  font-family: "Ralewai-Medium", sans-serif;
}
.optionsContainer .optionsContainer-returnOverview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
.optionsContainer .optionsContainer-returnOverview span {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-image: url("../../../assets/icon/return.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.optionsContainer .optionsContainer-addProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
.optionsContainer .optionsContainer-addProduct span {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-image: url("../../../assets/icon/plus.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}