@font-face {
  font-family: "Ralewai-Bold";
  src: url("../../../assets/font/Raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Ralewai-SemiBold";
  src: url("../../../assets/font/Raleway/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Ralewai-Medium";
  src: url("../../../assets/font/Raleway/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Ralewai-Regular";
  src: url("../../../assets/font/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Ralewai-Bold";
  src: url("../../../assets/font/Raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Ralewai-SemiBold";
  src: url("../../../assets/font/Raleway/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Ralewai-Medium";
  src: url("../../../assets/font/Raleway/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Ralewai-Regular";
  src: url("../../../assets/font/Raleway/Raleway-Regular.ttf");
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 87.5%;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 280px;
  max-width: 800px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.viewTitle {
  font-family: "Ralewai-SemiBold", sans-serif;
  font-size: 3rem;
  margin-left: 20px;
}

.highligthsCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  width: 95%;
}

.cardSection {
  border: 2px solid #062C67;
  border-radius: 10px;
  width: 280px;
  margin-bottom: 20px;
  margin-left: 10px;
  box-shadow: 2px 5px 13px 0px #062C67;
}
.cardSection .infoLabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cardSection h2 {
  display: inline-block;
  margin: 10px 0;
  font-size: 3.6rem;
  font-family: "Ralewai-SemiBold", sans-serif;
  text-align: center;
  width: auto;
}
.cardSection h3 {
  margin-bottom: 3px;
  padding-left: 5px;
  padding-top: 3px;
  font-size: 2rem;
  font-family: "Ralewai-Medium", sans-serif;
  border-top: 2px solid #062C67;
  color: #1B2211;
}

.buttonOptionsTitle {
  display: flex;
  justify-content: start;
  height: auto;
  width: 100%;
  margin-top: 30px;
}
.buttonOptionsTitle h2 {
  margin: 0;
  font-size: 2rem;
  font-family: "Ralewai-SemiBold", sans-serif;
  margin-left: 10px;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 95%;
  margin: 20px auto;
  border: 2px solid #062C67;
  border-radius: 10px;
  padding: 10px;
}
.buttonsContainer button {
  height: 60px;
  width: 200px;
  margin: 5px auto;
  border: 3px solid #85A355;
  border-radius: 10px;
  color: #85A355;
  font-size: 2.4rem;
  font-family: "Ralewai-SemiBold", sans-serif;
  outline: none;
}
.buttonsContainer button:hover {
  background-color: #85A355;
  color: white;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  width: 100%;
  max-width: 500px;
  margin-top: 30px;
  font-size: 1.5rem;
  font-family: "Ralewai-Medium", sans-serif;
}
.optionsContainer .optionsContainer-return {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.optionsContainer .optionsContainer-return span {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-image: url("../../../assets/icon/return.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}