@font-face {
  font-family: "Ralewai-Bold";
  src: url("../../../assets/font/Raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Ralewai-SemiBold";
  src: url("../../../assets/font/Raleway/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Ralewai-Medium";
  src: url("../../../assets/font/Raleway/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Ralewai-Regular";
  src: url("../../../assets/font/Raleway/Raleway-Regular.ttf");
}
.productCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 99%;
  margin: 0 auto;
  margin-bottom: 1px;
  padding: 5px 0;
  background-color: white;
  font-size: 1.2rem;
  font-family: "Ralewai-Regular", sans-serif;
  border-radius: 5px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}
.productCard:hover {
  background-color: #9EB776;
  cursor: pointer;
}